.wrapper {
  display: grid;
  place-items: center;
  background-color: hsl(230 50% 50%);
  padding: 10px;
}
.search-form {
  display: flex;
  justify-content: center;
  border-radius: 3px;
}
.search-form:focus-within {
  outline: 1px solid hsl(200 100% 60%);
}

.search-bar {
  min-width: 200px;
  height: 30px;
  padding: 10px;

  border-radius: 3px 0 0 3px;
  border: none;
}
.search-button {
  width: 30px;

  border-radius: 0 3px 3px 0;
  border: none;
  cursor: pointer;
}
.search-bar:focus-visible,
.search-button:focus-visible {
  outline: 1px solid hsl(200 100% 60%);
}

/* GALLERY */
.gallery {
  padding: 15px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.photo-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 0.5);
  border-radius: 0 0 3px 3px;
}
.photo-card a > img {
  aspect-ratio: 2/1.2;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 435px) {
  .search-bar {
    min-width: 300px;
  }
}
@media (min-width: 885px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
.info {
  display: flex;
  justify-content: space-around;

  font-size: calc(12px + (36 - 18) * ((100vw - 320px) / (2560 - 320)));
  line-height: 1.3;
  padding: 5px 10px;
  border-top: 0;

  gap: 10px;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* USER DATA */
